*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    
    justify-self: center;
    gap: 20px;
    padding: 50px;
    border-radius: 10px;
    border-style:inset;
    border-width: 2px;
    width: 650px;
    height: 250px;
    background-color: #4b4848;
    div{
        display:flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 40px;
        gap: 10px;
        margin:10px;
        img{
            width: 55px;
            height: 55px;
        }
    }
}
